################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Torino/FileContentIndex/cbb8f47d-f31f-457d-90a0-f969341803e7.vsidx
